@import "tailwindcss";


body {
  /* font-family: "Plus Jakaria"; */
  background: #ffffff;
  margin: 0;
  padding: 0;
}


.pill-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #ae3b3b;
  background: #fff;
  border: 1px solid #ae3b3b;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Title";
}

.input-label {
  color: #384551;
  font-size: 0.875rem; 
  margin-bottom: 4px;
  display: block;
  font-family: "Black";
}

.input-field {
  width: 100%;
  margin-top: 4px;
  font-size: 16px;
  color: #384551;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 8px 12px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* -webkit-appearance: none; */
  font-family: "Black";

}

.form-control:focus {
  border-color: #888 !important;
  box-shadow: none !important;
  outline: none;
}
